body {
    margin: 0;
    background: #000;
    font-family: Arial;
}

.swiper {
    width: 100vw;
    height: 100vh;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #111;
    padding: 20px;
    border-radius: 20px;
}

.imagem-card {
    width: 90%;
    height: 70%;
    object-fit: cover;
    border-radius: 20px;
}
    
h2 {
    color: #fff;
    margin-top: 20px;
}

p {
    color: #ddd;
}
