body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 40px;
  width: 320px;
  text-align: center;
}

.story-card {
  background: #111;
  padding: 25px;
  border-radius: 15px;
}

.story-card input {
  width: 80%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-top: 15px;
}

.nav button {
  margin: 10px;
  padding: 10px 15px;
  border: none;
  font-size: 18px;
  border-radius: 8px;
  background: #222;
  color: white;
}