body {
  margin: 0;
  background: #111;
  font-family: sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
}

.app {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  text-align: center;
}

.stories-container {
  margin-top: 20px;
}

.story {
  position: relative;
}

.story img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.story h3 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 4px 8px;
  background: rgba(0,0,0,0.4);
  border-radius: 5px;
}
